resources/appx/AppX/10/AppInstallerManifestSchema_2021.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://schemas.microsoft.com/appx/appinstaller/2021"
  xmlns="http://schemas.microsoft.com/appx/appinstaller/2021"
  xmlns:s4="http://schemas.microsoft.com/appx/appinstaller/2021"
  xmlns:t="http://schemas.microsoft.com/appx/manifest/types">

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>

  <xs:element name="AppInstaller">
    <xs:complexType>
      <xs:all>
        <xs:element ref="UpdateUris" minOccurs="0" maxOccurs="1" />
        <xs:element ref="RepairUris" minOccurs="0" maxOccurs="1" />
        <xs:element ref="MainPackageType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="OptionalPackages" type="CT_PackageOrBundleList" minOccurs="0" maxOccurs="1" />
        <xs:element name="RelatedPackages" type="CT_PackageOrBundleList" minOccurs="0" maxOccurs="1" />
        <xs:element name="Dependencies" type="CT_PackageOrBundleList" minOccurs="0" maxOccurs="1" />
        <xs:element name="UpdateSettings" type="CT_UpdateSettings" minOccurs="0" maxOccurs="1" />
      </xs:all>
      <xs:attribute name="Uri" type="t:ST_URI" use="required" />
      <xs:attribute name="Version" type="t:ST_VersionQuad" use="required" />
      <xs:attribute name="IgnorableNamespaces" type="t:ST_NonEmptyString" use="optional" />
    </xs:complexType>
    <xs:unique name="UniqueUpdateUri">
      <xs:selector xpath="s4:UpdateUris/s4:UpdateUri"/>
      <xs:field xpath="."/>
    </xs:unique>
    <xs:unique name="UniqueRepairUri">
      <xs:selector xpath="s4:RepairUris/s4:RepairUri"/>
      <xs:field xpath="."/>
    </xs:unique>
  </xs:element>

  <xs:element name="UpdateUris" type="CT_UpdateUris"/>
    
  <xs:complexType name="CT_UpdateUris">
    <xs:sequence>
      <xs:element name="UpdateUri" type="t:ST_URI" minOccurs="1" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="RepairUris" type="CT_RepairUris"/>
    
  <xs:complexType name="CT_RepairUris">
    <xs:sequence>
      <xs:element name="RepairUri" type="t:ST_URI" minOccurs="1" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
    
  <xs:complexType name="CT_PackageOrBundleList">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="10000">
        <xs:element name="Package" type="CT_Package"/>
        <xs:element name="Bundle" type="CT_Bundle"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:attributeGroup name="AttributesForPackageOrBundle">
    <xs:attribute name="Name" type="t:ST_PackageName" use="required"/>
    <xs:attribute name="Publisher" type="t:ST_Publisher_2010_v2" use="required"/>
    <xs:attribute name="Version" type="t:ST_VersionQuad" use="required"/>
    <xs:attribute name="Uri" type="t:ST_URI" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="AttributesForPackageOnly">
    <xs:attribute name="ProcessorArchitecture" type="t:ST_Architecture" use="optional"/>
    <xs:attribute name="ResourceId" type="t:ST_ResourceId" use="optional"/>
  </xs:attributeGroup>

  <xs:complexType name="CT_Package">
    <xs:attributeGroup ref="AttributesForPackageOrBundle"/>
    <xs:attributeGroup ref="AttributesForPackageOnly"/>
  </xs:complexType>

  <xs:complexType name="CT_Bundle">
    <xs:attributeGroup ref="AttributesForPackageOrBundle"/>
  </xs:complexType>

  <xs:complexType name="CT_UpdateSettings">
    <xs:all>
      <xs:element name="OnLaunch" type="CT_OnLaunch" minOccurs="0" maxOccurs="1" />
      <xs:element ref="AutomaticBackgroundTask" minOccurs="0" maxOccurs="1" />
      <xs:element ref="ForceUpdateFromAnyVersion" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:attribute name="ShowPrompt" type="xs:boolean" />
  <xs:attribute name="UpdateBlocksActivation" type="xs:boolean" />
  <xs:attribute name="HoursBetweenUpdateChecks" type="xs:unsignedByte" default="24" />
  
  <xs:attributeGroup name="AttributesForOnLaunch">
    <xs:attribute name="ShowPrompt" type="xs:boolean" use="optional" />
    <xs:attribute name="UpdateBlocksActivation" type="xs:boolean" use="optional" />
    <xs:attribute name="HoursBetweenUpdateChecks" type="xs:unsignedByte" use="optional" default="24" />
  </xs:attributeGroup>

  <xs:complexType name="CT_OnLaunch">
    <xs:attributeGroup ref="AttributesForOnLaunch"/>
  </xs:complexType>

  <xs:element name="AutomaticBackgroundTask" type="CT_AutomaticBackgroundTask" />
    
  <xs:complexType name="CT_AutomaticBackgroundTask"/>

  <xs:element name="ForceUpdateFromAnyVersion" type="xs:boolean" />

  <xs:element name="MainPackageType" abstract="true" />
  <xs:element name="MainPackage" type="CT_Package" substitutionGroup="MainPackageType" />
  <xs:element name="MainBundle" type="CT_Bundle" substitutionGroup="MainPackageType" />
</xs:schema>
